@charset "UTF-8";

/*
Theme Name: colorerブランドサイト
Author: BIZAZ
*/

$back: #fff;
$mint: #57A27C;
$ja_color: #006633;
$link: #E3612C;
$color: #4C4A4A;

@font-face {
	font-family: 'About_Font';
	src: url('../font/HuiFontP29.ttf');
}

@font-face {
	font-family: 'Menu_Font';
	src: url('../font/ShigotoMemogaki-Regular-1-01.ttf');
}

@font-face {
	font-family: 'Colorer_Font';
	src: url('../font/Academy Engraved LET Plain.ttf');
}

body {
	color: $color;
	font-family: 'Shippori Mincho B1', serif;
}


////////////////////////////////////////////////////////////////
//
//　　　　　　header
//
////////////////////////////////////////////////////////////////

header {
	position: relative;
	width: 100%;
	z-index: 2;
	@media screen and (max-width:767px) {
		position: fixed;
		top: 0;
		padding: 0;
	}
}

.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
	&::before,
	&::after{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		content: "";
		vertical-align: middle;
	}
}

.openbtn1, .top_btn{
	position: absolute;
	@media screen and (min-width:767px) {
		display: none;
	}
	z-index: 9999;
	top: 25px;
	right: 20px;
	cursor: pointer;
	width: 45px;
	height: 40px;
	backdrop-filter: blur(12px);
	background-color: rgba(255, 255, 255, 0.315);
	border-radius: 3px;
	margin: 0 auto;
	span {
		display: inline-block;
		transition: all .4s;
		position: absolute;
		left: 15%;
		height: 1px;
		background-color: #4C4A4A;
		width: 70%;
		&:nth-of-type(1) {
			top: 25%; 
		}
		&:nth-of-type(2) {
			top: 50%;
		}
		&:nth-of-type(3) {
			bottom: 25%; 
		}
	}
}

.nav-pc, .nav-top {
	color: #fff;
	font-size: 15px;
	z-index: 3;
	position: absolute;
	width: 100%;
	// font-family: Menu_Font;
	font-family: 'Shippori Mincho B1', serif;
	ul {
		text-align: center;
		align-items: center;
		display: flex;
		.h1_logo {
			a {
				padding: 10px;
				border-radius: 50%;
				box-shadow: 0 0 3px #ccc;
				background-color: rgba(255, 255, 255, 0.9);
				backdrop-filter: blur(12px);
				display: inline-block;
				img {
					position: relative;
					top: 2px;
					width: 30px;
				}
			}
		}
		li {
			margin-right: 3vw;
			&:first-child {
				a::after {
					display: none;
				}
			}
			a {
				display: inline-block;
				width: 100%;
				position: relative;
				text-shadow: 0 0 5px #3B4043;
				@media screen and (max-width:767px) {
					text-shadow: unset;
				}
				&:hover {
					opacity: 1;
				}
				&::after {
					display: inline-block;
					position: absolute;
					bottom: -8px;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					background: #C6A74F;
					transform: scale(0, 1);
					transform-origin: right top;
					transition: transform .3s;
				}
				&:hover::after {
					transform-origin: left top;
					transform: scale(1, 1);
				}
			}
		}
	}
	.shop_btn {
		background-color: #f4f2f2e1;
		background-image: url('../img/shibo-washi-pattern-01.jpg');
		padding: 20px 10vw;
		display: inline-block;
		text-align: center;
		border-radius: 30px;
		color: #3B4043;
		font-weight: bold;
		text-shadow: unset;
		position: absolute;
		right: 2vw;
		top: 10px;
		transition: .3s;
		&:hover {
			right: 2.5vw !important;
			opacity: unset;
		}
	}
	.shop_btn.pc {
		&:hover {
			right: 5vw;
		}
	}
}

.nav-pc {
	margin-top: 20px;
	ul {
		max-width: 1200px;
		padding: 0 20px;
		width: 100%;
		margin: 0 auto;
	}
	.shop_btn {
		@media screen and (max-width:900px) {
			padding: 20px 5vw;
		}
	}
}

.nav-top {
	position: absolute;
	transition: .3s;
	@media screen and (max-width:767px) {
		display: none;
	}
}

.fixed {
	top: 20px;
	position: fixed;
	.shop_btn {
		&:hover {
			right: 10.9vw !important;
		}
	}
}

#g-nav{
	position: fixed;
	top: 0;
	right: -120%;
	width: 75%;
	height: 100vh;
	background: #fff;
	transition: all 0.5s;
	#g-nav-list {
		.logo {
			display: block;
			margin: 40px auto 35px;
			width: 50px;
		}
		ul {
			margin-bottom: 20px;
			.h1_logo {
				a {
					padding: 10px;
					border-radius: 50%;
					box-shadow: 0 0 3px #ccc;
					background-color: rgba(255, 255, 255, 0.9);
					backdrop-filter: blur(12px);
					display: inline-block;
					img {
						position: relative;
						top: 2px;
						width: 30px;
					}
				}
			}
			li {
				text-align: center;
				background-color: #fff;
				&:nth-child(even) {
					background-color: #F4F2F2;
				}
				&:last-child {
					border-bottom: 1px solid #F4F2F2;
				}
				a {
					font-size: 15px;
					padding: 12px 0;
					display: inline-block;
					width: 100%;
					// font-family: Menu_Font;
					font-family: 'Shippori Mincho B1', serif;
				}
			}
		}
		.onlineshop_bunner {
			div {
				height: 100px;
			}
			p {
				// font-family: Menu_Font;
				font-family: 'Shippori Mincho B1', serif;
				font-size: 18px;
			}
		}
	}
}

#g-nav.panelactive{
    right: 0;
	color: unset;
	font-size: unset;
	text-shadow: unset;
	#g-nav-list{
		position: relative;
		background-color: #fff;
		z-index: 10;
		width: 100%;
		height: 100vh;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		ul {
			display: block;
			li {
				margin-right: 0;
				a {
					&::after {
						display: none;
					}
				}
			}
		}
	}
	.menu-close {
		background-color: rgba(0, 0, 0, 0.4);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}


.openbtn1.active, .top_btn.active{
	span {
		background-color: $color;
		box-shadow: unset;
		&:nth-of-type(1) {
			top: 8px;
			left: 0;
			transform: translateY(6px) rotate(-45deg);
			width: 100%;
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			top: 20px;
			left: 0;
			transform: translateY(-6px) rotate(45deg);
			width: 100%;
		}
	}
}


////////////////////////////////////////////////////////////////
//
//　　　　　　共通パーツ
//
////////////////////////////////////////////////////////////////


.top-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h2 {
	// font-family: Menu_Font;
	font-family: 'Shippori Mincho B1', serif;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 30px;
	line-height: 1.6em;
	position: relative;
	z-index: 1;
	@media screen and (max-width:767px) {
		font-size: 20px;
	}
	rt {
		text-align: center;
	}
	&::after {
		content: '';
		background-image: url('../img/h2_under.png');
		margin: 10px auto;
		position: absolute;
		bottom: -34px;
		left: 0;
		right: 0;
		z-index: -1;
		// border-bottom: 2px solid #C6A74F;
		display: block;
		width: 100%;
		max-width: 250px;
		height: 55px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.h2_subtext {
	//font-family: Menu_Font;
	font-family: 'Shippori Mincho B1', serif;
	text-align: center;
	display: block;
	margin: -20px auto 50px;
	font-size: 15px;
	position: relative;
	z-index: 1;
}

h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.8em;
}

h4 {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	border-top: 2px solid $color;
	border-bottom: 2px solid $color;
	padding: 20px;
	max-width: 900px;
	width: 100%;
	margin: 20px auto;
	@media screen and (max-width:767px) {
		width: 80%;
		margin: 0 auto 20px;
	}
}

h5 {
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	span {
		font-size: 28px;
		margin-right: 10px;
		line-height: 0.9em;
	}
}

b, strong {
	background:linear-gradient(transparent 60%, rgb(243, 243, 166) 50%);
}

span.required {
	color: #b13f37;
	font-size: 12px;
}

.bg_container, .bg_container_{
	padding: 80px 0 40px;
	@media screen and (max-width:767px) {
		padding: 40px 0 20px;
	}
}

.bg_container_{
	background-color: #f4f2f2e1;
	background-image: url('../img/shibo-washi-pattern-01.jpg');
}

.layout {
	position: relative;
	margin: 80px 0;
	.layout_right_sp {
		width: 100%;
		height: 200px;
		overflow: hidden;
		position: relative;
		@media screen and (max-width:767px) {
			width: 90%;
			height: 180px;
			z-index: 1;
		}
		img {
			width: 100%;
			height: auto;
			// @media screen and (max-width:1400px) {
			// 	width: auto;
			// 	height: 100%;
			// }
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}
	}
	.layout_left {
		padding: 60px 0;
		height: auto;
		display: block;
		width: 95%;
		background-color: #f4f2f2e1;
		position: relative;
		@media screen and (max-width:767px) {
			padding: 20px 0 10px;
			height: auto;
			width: 90%;
			margin: -20px auto 0;
			z-index: 0;
		}
		.left_content {
			margin-left: 12%;
			width: 38%;
			@media screen and (max-width:1040px) {
				margin-left: 8%;
				width: 45%;
			}
			@media screen and (max-width:876px) {
				margin-left: 3%;
				width: 53%;
			}
			@media screen and (max-width:767px) {
				margin-left: 0;
				margin: 0 auto;
				width: 100%;
				padding: 18px;
			}
			h2.pc {
				margin-top: 0;
				margin-bottom: 40px;
			}
			p {
				text-align: center;
			}
			.button {
				margin-top: 40px;
				font-size: 14px;
			}
			.informatin_ul {
				li {
					line-height: 1.4em;
					&:nth-child(odd) {
						margin-top: 30px;
						margin-bottom: 10px;
						&::after {
							margin-top: 5px;
							content: '';
							width: 65px;
							display: block;
							border-bottom: 1px solid #C6A74F;
						}
					}
					small {
						display: block;
						margin-top: 5px;
					}
				}
			}
			p {
				margin-top: 30px;
				font-size: 14px;
				line-height: 2em;
				@media screen and (max-width:767px) {
					font-size: 11px;
					margin: 15px 0;
				}
			}
		}
		.layout_right {
			width: 46%;
			position: absolute;
			right: -28px;
			top: 70px;
			height: 360px;
			overflow: hidden;
			@media screen and (max-width:767px) {
				width: 100%;
				position: relative;
				right: 0px;
				top: 0;
				height: 200px;
			}
			img {
				width: 100%;
				height: auto;
				// @media screen and (max-width:1400px) {
				// 	width: auto;
				// 	height: 100%;
				// }
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
			}
		}
	}
}

.reverse {
	.layout_left {
		margin-left: auto;
		@media screen and (max-width:767px) {
			margin: 0 auto;
		}
		.left_content {
			margin-left: auto;
			margin-right: 12%;
			@media screen and (max-width:1040px) {
				margin-right: 8%;
				width: 45%;
			}
			@media screen and (max-width:876px) {
				margin-right: 3%;
				width: 53%;
			}
			@media screen and (max-width:767px) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
		.layout_right {
			left: -28px;
			top: 53px;
			@media screen and (max-width:767px) {
				left: 0;
			}
		}
	}
}

.button {
	border: 1px solid $color;
	padding: 12px;
	width: 96%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	display: block;
	border-radius: 25px;
	position: relative;
	@media screen and (max-width:767px) {
		width: 100%;
	}
	&::after {
		position: absolute;
		display: inline-block;
		content: url('../img/arrow-next.svg');
		right: 25px;
		width: 20px;
		transition: ease-in-out .3s;
	}
	&:hover {
		&::after {
			right: 20px;
		}
	}
}

.button.arrow{
	&::before,
	&::after {
		left: unset;
	}
}

// ふわっと表示
.fadeUp{
	animation-name:fadeUpAnime;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
	opacity:0;
}
	
@keyframes fadeUpAnime{
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
	
.fadeUpTrigger{
	opacity: 0;
}

a {
	transition: ease-in-out .3s;
	&:hover {
		opacity: 0.7;
	}
}

// ページネーション
.pagination .nav-links {
	margin: 20px auto;
	text-align: center;
	.page-numbers {
		padding: 5px 10px;
		margin: 0 5px;
	}
	.current {
		border-bottom: 2px solid #CCC8C2;
	}
	.next, .prev {
		padding: 5px 15px;
		border-radius: 20px;
		background-color: #E5D8DC;
		margin: 0 5px;
	}
}

// お知らせ・ブログ
.news_ul {
	margin: 50px auto 0;
	@media screen and (min-width:767px) {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	li {
		transition: opacity 0.1s ease-in;
		border: 1px solid #ccc;
		margin-bottom: 0;
		padding-left: 0;
		position: relative;
		border-radius: 10px;
		margin: 0 0 40px;
		@media screen and (min-width:767px) {
			margin: 30px 5px;
			width: 20%;
		}
		time {
			font-size: 12px;
			color: #898585;
			position: absolute;
			top: -20px;
			right: 0;
		}
		.contents {
			display: flex;
			justify-content: space-between;
			background-color: #fff;
			border-radius: 10px;
			@media screen and (min-width:767px) {
				display: block;
			}
			.news-img {
				width: 40%;
				min-height: 67px;
				height: auto;
				overflow: hidden;
				margin-right: 10px;
				position: relative;
				background-color: #CCC8C2;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
				@media screen and (min-width:767px) {
					width: 100%;
					height: 150px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
					border-bottom-left-radius: unset;
				}
				img {
					z-index: 1;
					width: auto;
					height: 120%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					// @media screen and (max-width:767px) {
					// 	width: 100%;
					// 	height: auto;
					// }
				}
				.s_logo {
					z-index: 0;
					width: 40%;
					max-width: 60px;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					@media screen and (max-width:767px) {
						width: 30%;
						height: auto;
					}
				}
			}
			.news-caption {
				width: 86%;
				@media screen and (max-width:767px) {
					padding: 10px;
					padding-left: 0;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
				}
				@media screen and (min-width:767px) {
					position: relative;
					width: 100%;
					height: auto;
					background-color: #fff;
					padding: 10px;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}
				.captions {
					z-index: 1;
					display: flex;
					align-items: center;
					margin: 10px 0;
					@media screen and (max-width:767px) {
						width: 100%;
						margin: 0 0 5px;
					}
					@media screen and (min-width:767px) {
						margin: unset;
						position: absolute;
						top: -30px;
					}
				}
				h2 {
					font-size: 13px;
					font-weight: normal;
					margin: 5px 0;
					line-height: 1.4em;
					font-family: 'Shippori Mincho B1', serif;
					&::after {
						background: none;
						border-bottom: 2px solid #C6A74F;
						height: 0;
						width: 70px;
						top: 0;
						position: relative;
						margin: 5px auto 15px;
						@media screen and (max-width:767px) {
							margin: 5px auto 0;
						}
					}
					@media screen and (min-width:767px) {
						margin: unset;
						padding: 10px 0;
						&::after {
							margin-bottom: 0;
						}
					}
				}
				p {
					margin-top: 3px;
					font-size: 15px;
					text-align: justify;
				}
			}
		}
	}
}

.tags {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	.tag {
		margin: 0 10px;
		padding: 3px 15px;
		box-shadow: 0 0 3px #ccc0c0;
		@media screen and (max-width:767px) {
			padding: 3px 3vw;
			border: none;
		}
	}
}
a.tag, span.tag {
	font-size: 11px;
	background-color: #fff;
	color: #898585;
	text-align: center;
	padding: 3px 1vw;
	box-shadow: 0 0 3px #ccc0c0;
	margin-right: 3px;
	@media screen and (max-width:767px) {
		font-size: 10px;
		padding: 3px 2vw;
		margin-right: 5px;
		box-shadow: unset;
		border: 1px solid #ccc;
	}
}
a.tag_all, span.tag_all {
	background-color: #E0DED5;
	border: none;
}
a.tag_new, span.tag_new {
	background-color: #D5E2DF;
	border: none;
}
a.tag_other, span.tag_other {
	background-color: #DEE2D7;
	border: none;
}

// オンラインショップ バナー
.onlineshop_bunner {
	display: block;
	margin: 0 auto 80px;
	text-align: center;
	width: 90%;
	max-width: 600px;
	border: 1px solid #ccc;
	@media screen and (max-width:767px) {
		margin: 0 auto 70px;
	}
	div {
		width: 100%;
		height: 130px;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}
	}
	p {
		text-align: center;
		padding: 15px 0;
		// font-family: Menu_Font;
		font-family: 'Shippori Mincho B1', serif;
		font-size: 18px;
		font-weight: bold;
		background-color: #fff;
		position: relative;
		&::after {
			position: absolute;
			display: inline-block;
			content: url('../img/arrow-next.svg');
			right: 25px;
			width: 20px;
			transition: ease-in-out .3s;
		}
	}
	&:hover {
		p::after {
			right: 20px;
		}
	}
}

// トップページ　バナー
.index_bunner {
	margin: 0 auto;
	@media screen and (max-width:767px) {
		margin: 0 auto 70px;
	}
}
// 下層ページ　バナー
.page_bunner {
	margin: 80px auto;
	@media screen and (max-width:767px) {
		margin: 20px auto 70px;
	}
}

// パンくずリスト
.breadcrumbs {
    padding: 15px 20px;
	width: 100%;
	margin: 0 auto;
    font-size: 12px;
	background-color: #EAE9E4;
	@media screen and (max-width:767px) {
		padding: 10px 20px;
		font-size: 10px;
	}
	div {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.breadcrumbs_img {
	width: 11px;
	display: inline-block;
	margin: 0 4px;
	position: relative;
	img {
		position: absolute;
		bottom: 1px;
		width: 100%;
	}
}


// ルビ
ruby {
	rt {
		text-align: center;
	}
}


// モーダルウィンドウ
.modal-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	.modal-window {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		width: 70%;
		max-width: 800px;
		background: white;
		padding: 40px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgb(201, 197, 197);
		@media screen and (max-width:767px) {
			padding: 0;
			width: 90%;
		}
		.modal-content {
			height: auto;
			width: 100%;
			overflow-y: auto;
			position: relative;
			@media screen and (max-width:767px) {
				padding: 20px 20px 40px;
				overflow: hidden;
			}
			.swiper {
				width: 100%;
				height: 42vh;
				margin: 0 auto 30px;
				@media screen and (max-width:767px) {
					height: 58vw;
				}
				.swiper-slide {
					padding: 0 15px;
					position: relative;
					max-height: 42vh;
					text-align: center;
					@media screen and (max-width:767px) {
						padding: 0;
					}
				}
				img {
					text-align: center;
					margin: 0 auto;
					height: 39vh;
					@media screen and (max-width:767px) {
						height: 52vw;
					}
				}
				.swiper-pagination {
					bottom: 0;
					.swiper-pagination-bullet {
						width: 6px;
						height: 6px;
						margin: 0 3px;
					}
				}
				.swiper-button-prev, .swiper-button-next{
					position: absolute;
					top: 50%;
					transform: translate(0,-50%);
					height: 100%;
					width: 35px;
					padding: 3px;
					z-index: 1;
					transition: 0.3s;
					background: no-repeat;
					background-size: 100%;
					background-position: center;
					@media screen and (max-width:767px) {
						width: 25px;
						display: none;
					}
					&:hover {
						cursor: pointer;
					}
					&::after {
						display: none;
					}
				}
				.swiper-button-prev {
					left: 3px;
					background-image: url('../img/arrow-prev.svg');
					&:hover {
						left: 0px;
					}
				}
				.swiper-button-next {
					right: 3px;
					background-image: url('../img/arrow-next.svg');
					&:hover {
						right: 0px;
					}
				}
			}
			.modal_img {
				margin: 0 auto 30px;
				width: 100%;
				text-align: center;
				img{
					text-align: center;
					width: 50%;
					height: auto;
				}
			}
			.content {
				position: relative;
				span.from {
					position: absolute;
					top: -30px;
					left: 0;
					background-color: #F4F2F2;
					font-size: 12px;
					padding: 5px 20px;
					border-bottom-right-radius: 10px;
					display: inline-block;
					@media screen and (min-width:767px) {
						padding: 7px 30px;
						font-size: 13px;
						border-bottom-right-radius: 0;
					}
				}
				div {
					font-size: 26px;
					text-align: right;
					margin:  10px 0 20px auto;
					@media screen and (max-width:767px) {
						font-size: 20px;
					}
					span {
						font-size: 18px;
						@media screen and (max-width:767px) {
							font-size: 14px;
						}
					}
				}
				h2 {
					font-family: 'Shippori Mincho B1', serif;
					margin: 40px auto 30px;
					font-size: 17px !important;
					line-height: 1.4em;
					@media screen and (max-width:767px) {
						margin: 30px auto 20px;
						font-size: 20px;
					}
				}
				p {
					@media screen and (max-width:767px) {
						// height: 75px;
						// overflow: auto;
						margin-top: 30px;
						font-size: 12px;
						line-height: 1.5em;
					}
				}
				a {
					margin-top: 30px;
					font-size: 13px;
					padding: 10px;
				}
			}
		}
	}
	.modal-close {
		z-index: 20;
		position: absolute;
		top: -22px;
		right: 3px;
		color: #333;
		text-shadow: 0 0 3px #fff;
		font-size: 12px;
	}
}
.modal-overlay {
	position: absolute;
	height: 100vh;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	&:hover {
		opacity: 1;
	}
}

// 下層ページヘッダー
.detail_header {
	width: 100%;
	.detail_h_img {
		width: 100%;
		height: 140px;
		position: relative;
		overflow: hidden;
		@media screen and (min-width:767px) {
			height: 280px;
		}
		&::after {
			content: '';
			width: 100%;
			height: 140px;
			position: absolute;
			background-color: rgba($color: #000000, $alpha: 0);
			top: 0;
			left: 0;
			@media screen and (min-width:767px) {
				background-color: rgba($color: #000000, $alpha: 0.2);
				height: 280px;
			}
		}
		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}
	}
}



////////////////////////////////////////////////////////////////
//
//　　　　　　下層ページ
//
////////////////////////////////////////////////////////////////


.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #faf9f9 !important;
}


.detail_big_container {
	padding: 30px 0;
	.detail_container {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		font-size: 14px;
		overflow: hidden;
		@media screen and (min-width:1200px) {
			padding: 0;
		}

		p {
			text-align: justify;
			line-height: 1.8em;
		}

		.contact_p {
			text-align: center;
			@media screen and (max-width:767px) {
				text-align: justify;
			}
		}

		.h2_subtext {
			text-align: center;
			display: block;
			font-size: 15px;
			margin: -20px auto 50px;
			@media screen and (max-width:767px) {
				font-size: 14px;
			}
		}

		// 投稿記事ページ
		.single_container {
			margin: 45px auto 30px;
			max-width: 900px;
			width: 100%;
			h1 {
				font-size: 25px;
				font-weight: bold;
				padding: 10px 20px;
				background-color:#DEE2D7;
				margin-top: 0;
			}
			h2 {
				margin-top: 0;
				margin-bottom: 40px;
			}
			h4 {
				margin-top: 0;
			}
			h5 {
				&::after {
					content: '';
					display: block;
					height: 2px;
					background-color: #C6A74F;
					width: 50px;
					margin-top: 5px;
				}
			}
			h6 {
				border-left: 5px solid #C6A74F;
				padding-left: 8px;
				font-size: 20px;
				font-weight: bold;
				margin: 30px auto;
			}
	
			ul {
				margin: 20px auto;
				list-style-type: none;
				li {
					padding: 5px;
					&::before {
						content: '◆';
						color: #C6A74F;
						text-align: center;
						line-height: 1.6em;
						font-size: 0.7em;
						display: inline-block;
						margin-right: 8px;
					}
				}
			}
	
			ol {
				margin: 20px auto;
				list-style-type: none;
				counter-reset: item;
				li {
					padding: 5px;
					&::before {
						counter-increment: item;
						content: counter(item) "";
						color: #fff;
						background-color: #C6A74F;
						border: 2px solid #C6A74F;
						height: 21px;
						width: 21px;
						text-align: center;
						line-height: 1.2em;
						border-radius: 20%;
						display: inline-block;
						margin-right: 6px;
					}
				}
			}
	
			table {
				margin: 20px auto;
				tr {
					background-color: #fff;
					border: 1px solid #ccc0c0;
					th {
						padding: 10px;
						border: 1px solid #ccc0c0;
						border-right: 1px solid #f5eeee;
						background-color: #ccc0c0;
						&:last-child {
							border-right: 1px solid #ccc0c0;
						}
					}
					td {
						padding: 10px;
						border: 1px solid #ccc0c0;
					}
				}
			}
			
			p {
				text-align: justify;
				margin-bottom: 20px;
			}

			// 日付
			.date {
				display: block;
				text-align: right;
				margin: 0 auto 20px;
				color: #898585;
			}

			// wordpress内で配置した画像
			.wp-block-image {
				margin-bottom: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}

			// 次・前の記事へ
			.prev_next_link {
				margin-top: 50px;
				@media screen and (min-width:767px) {
					display: flex;
					justify-content: space-between;
				}
				a {
					display: flex;
					align-items: center;
					padding: 10px;
					background-color: #E5D8DC;
					border-radius: 20px;
					font-size: 13px;
					@media screen and (min-width:767px) {
						width: 32%;
					}
				}
				.next {
					justify-content: flex-end;
					margin-top: 10px;
					text-align: right;
					@media screen and (min-width:767px) {
						margin-top: 0;
					}
					img {
						margin-left: 5px;
					}
				}
				.prev {
					img {
						margin-right: 5px;
					}
				}
				.hide {
					opacity: 0;
				}
			}
			.return_link {
				margin-top: 50px;
				display: flex;
				align-items: center;
				padding: 10px;
				background-color: #E5D8DC;
				border-radius: 20px;
				font-size: 13px;
				@media screen and (min-width:767px) {
					width: 32%;
				}
				img {
					margin-right: 5px;
				}
			}
		}

		// story

		.h2_m strong {
			background: none;
		}

		// コンフィチェリエとパティシエが創り上げる『コンフィチュールを楽しむ』タルトと焼き菓子専門店
		.story_1 {
			width: 100%;
			height: auto;
			background-color: #f4f2f2e1;
			background-image: url('../img/shibo-washi-pattern-01.jpg');
			padding: 60px 0;
			position: relative;
			.h2_m {
				margin-top: 0;
				margin-bottom: 60px;
			}
			.img1, .img2, .img3, .img4 {
				position: absolute;
				width: 25%;
				z-index: 0;
				@media screen and (max-width:767px) {
					position: relative;
					width: 70%;
				}
				&::before, &::after {
					z-index: -1;
					position: absolute;
					content: "";
					bottom: 14px;
					left: 8px;
					width: 50%;
					top: 80%;
					max-width:300px;
					background: #777;
					-webkit-box-shadow: 0 15px 10px #777;
					-moz-box-shadow: 0 15px 10px #777;
					box-shadow: 0 15px 10px #777;
					-webkit-transform: rotate(-3deg);
					-moz-transform: rotate(-3deg);
					-o-transform: rotate(-3deg);
					-ms-transform: rotate(-3deg);
					transform: rotate(-3deg);
				}
				&::after {
					-webkit-transform: rotate(3deg);
					-moz-transform: rotate(3deg);
					-o-transform: rotate(3deg);
					-ms-transform: rotate(3deg);
					transform: rotate(3deg);
					right: 10px;
					left: auto;
				}
				img {
					width: 100%;
				}
			}
			.img1 {
				top: 20%;
				right: 0%;
				transform: rotate(6deg);
				@media screen and (max-width:767px) {
					margin: 40px 0 40px auto;
					right: -1%;
				}
			}
			.img2 {
				top: 33%;
				left: 1%;
				transform: rotate(-2deg);
				@media screen and (max-width:767px) {
					position: relative;
					margin: 40px auto 40px 0;
				}
			}
			.img3 {
				bottom: 26%;
				right: 4vw;
				transform: rotate(2deg);
				@media screen and (max-width:767px) {
					margin: 40px 0 40px auto;
					right: 2%;
					//width: 80%;
				}
			}
			.img4 {
				bottom: -1%;
				left: 7vw;
				transform: rotate(-8deg);
				@media screen and (max-width:767px) {
					transform: rotate(-5deg);
					margin: 40px auto 40px 0;
					left: 0;
					//width: 75%;
				}
			}
		}

		// ちょんまげ社長の「おくのほそ道」
		.story_2 {
			width: 100%;
			height: auto;
			background-color: #f4f2f2e1;
			background-image: url('../img/shibo-washi-pattern-01.jpg');
			padding: 60px 0;
			.h2_m {
				margin-top: 0;
				margin-bottom: 60px;
			}
		}

		// "コンフィチュールが主役"のタルトと焼き菓子へのこだわり
		.story_3, .story_4 {
			width: 100%;
			height: auto;
			padding: 40px 0 0;
			@media screen and (max-width:767px) {
				background-color: #f4f2f2e1;
				background-image: url('../img/shibo-washi-pattern-01.jpg');
				padding: 40px 0 10px;
			}
			.h2_m {
				margin-top: 30px;
				margin-bottom: 60px;
			}
		}
		.story_4 {
			@media screen and (max-width:767px) {
				margin-top: 40px;
			}
		}

		.story_3_container .wp-block-group__inner-container, .story_4_container{
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin: 0 auto 40px;
			@media screen and (max-width:767px) {
				display: block;
				position: relative;
			}
			.story_3_img, .story_4_img {
				width: 30%;
				background-image: url('../img/story/story-4.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				@media screen and (max-width:940px) {
					width: 25%;
				}
				@media screen and (max-width:767px) {
					position: relative;
					background-image: none;
					width: 90%;
					top: 0;
					left: 0;
					height: 220px;
					overflow: hidden;
					img {
						width: 100%;
						height: auto;
						position: absolute;
						top: 30%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
				}
			}
			.story_4_img {
				background-image: url('../img/story/story-13.jpg');
				@media screen and (max-width:767px) {
					background-image: none;
					img {
						width: 100%;
						height: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
				}
			}
			.story_3_txt, .story_4_txt {
				width: 40%;
				position: relative;
				padding: 30px 10px;
				@media screen and (max-width:940px) {
					width: 50%;
				}
				@media screen and (max-width:767px) {
					width: 100%;
					padding: 0;
				}
				h3 {
					@media screen and (max-width:767px) {
						margin: 30px auto;
					}
				}
				&::after {
					content: '';
					position: absolute;
					bottom: -48px;
					right: -10%;
					width: 200px;
					height: 121px;
					background-image: url('../img/story/story-10.png');
					background-repeat: no-repeat;
					background-size: cover;
					transform: rotate(-5deg);
					z-index: 0;
					@media screen and (max-width:767px) {
						background-image: none;
						top: 50px;
						bottom: 0;
						right: 0;
						width: 150px;
						height: 100px;
						transform: rotate(0deg);
					}
				}
				.p_1, .p_2 {
					@media screen and (max-width:767px) {
						width: 100%;
					}
				}
			}
			.story_4_txt {
				&::after {
					display: none;
				}
			}
			.story_3_img2, .story_4_img2 {
				width: 30%;
				background-image: url('../img/story/story-15.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				@media screen and (max-width:940px) {
					width: 25%;
				}
				@media screen and (max-width:767px) {
					position: relative;
					background-image: none;
					width: 75%;
					max-width: 400px;
					top: 0;
					right: 0;
					margin-top: 40px;
					margin-left: auto;
					height: auto;
					transform: rotate(5deg);
					&::before, &::after {
						z-index: -1;
						position: absolute;
						content: "";
						bottom: 14px;
						left: 8px;
						width: 50%;
						top: 80%;
						max-width:300px;
						background: #777;
						-webkit-box-shadow: 0 15px 10px #777;
						-moz-box-shadow: 0 15px 10px #777;
						box-shadow: 0 15px 10px #777;
						-webkit-transform: rotate(-3deg);
						-moz-transform: rotate(-3deg);
						-o-transform: rotate(-3deg);
						-ms-transform: rotate(-3deg);
						transform: rotate(-3deg);
					}
					&::after {
						-webkit-transform: rotate(3deg);
						-moz-transform: rotate(3deg);
						-o-transform: rotate(3deg);
						-ms-transform: rotate(3deg);
						transform: rotate(3deg);
						right: 10px;
						left: auto;
					}
					img {
						width: 100%;
					}
				}
			}
			.story_4_img2 {
				background-image: url('../img/story/story-14.jpg');
			}
		}
		
		.story_img1, .story_img2, .story_img3, .story_img4 {
			box-sizing: border-box;
			height: 50vh;
			padding: 5%;
			background-attachment: fixed;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			@media screen and (max-width:767px) {
				background-attachment: unset;
				background-position: center;
				height: 28vh;
			}
		}
		.story_img1 {
			background-image: url('../img/story-1.png');
			@media screen and (max-width:767px) {
				background-position: center 0;
			}
		}
		.story_img2 {
			background-image: url('../img/story-2.jpg');
			@media screen and (max-width:767px) {
				background-position: center -12px;
			}
		}
		.story_img3 {
			background-image: url('../img/top-5_pc.jpg');
			@media screen and (max-width:767px) {
				background-image: url('../img/top-5_sp.jpg');
			}
		}
		.story_img4 {
			background-image: url('../img/story/story-11.png');
		}

		.left_p {
			@media screen and (max-width:767px) {
				margin-bottom: 60px;
			}
		}

		.story_container {
			max-width: 900px;
			width: 100%;
			height: auto;
			margin: 20px auto 40px;
			padding: 0 15px;
			position: relative;
			.img {
				position: relative;
				margin: -3px 0 0 0;
				width: 75%;
				padding: 5px;
				transform: rotate(-5deg);
				@media screen and (min-width:767px) {
					width: 50%;
				}
				&:before, &:after {
					z-index: -1;
					position: absolute;
					content: "";
					bottom: 20px;
					left: 10px;
					width: 50%;
					top: 80%;
					max-width:300px;
					background: #777;
					-webkit-box-shadow: 0 15px 10px #777;
					-moz-box-shadow: 0 15px 10px #777;
					box-shadow: 0 15px 10px #777;
					-webkit-transform: rotate(-3deg);
					-moz-transform: rotate(-3deg);
					-o-transform: rotate(-3deg);
					-ms-transform: rotate(-3deg);
					transform: rotate(-3deg);
				}
				&:after {
					-webkit-transform: rotate(3deg);
					-moz-transform: rotate(3deg);
					-o-transform: rotate(3deg);
					-ms-transform: rotate(3deg);
					transform: rotate(3deg);
					right: 10px;
					left: auto;
				}

				img {
					width: 100%;
				}
			}
			p {
				position: relative;
				z-index: 1;
				text-align: center;
				width: 100%;
				right: 0;
				margin: 20px 0 0 auto;
				padding: 15px 10px;
				@media screen and (min-width:767px) {
					position: absolute;
					background-color: #fff;
					width: 50%;
					text-align: center;
					top: 20%;
					right: 3%;
					padding: 20px;
					font-size: 15px;
					border-bottom: 1px dotted #3B4043;
					border-right: 1px dotted #3B4043;
					line-height: 1.8em;
				}
			}
		}
		.story_container3 {
			margin-top: 40px;
		}
		.story_container.reverse {
			flex-flow: row-reverse;
			.img {
				margin: -3px -2px 0 auto;
				left: unset;
				right: 0;
				transform: rotate(5deg);
			}
			p {
				top: 15px;
				padding: 10px;
				margin: 10px auto 0 0;
				@media screen and (min-width:767px) {
					top: 20%;
					left: 3%;
					padding: 20px;
				}
			}
		}
		.story_container_p {
			font-size: 15px;
			margin: 60px auto 40px;
			display: inline-block;
			@media screen and (max-width:767px) {
				margin: 10px auto 0;
				font-size: 13px;
			}
		}

		section.what {
			max-width: 100%;
			padding: 40px 0;
			background-color: #EAE9E4;
			margin-top: 80px;
			@media screen and (min-width:767px) {
				margin-bottom: -30px;
			}
			.h2_subtext {
				font-family: Menu_Font;
				margin-top: -15px;
				font-size: 21px;
			}
			@media screen and (max-width:767px) {
				.slick {
					padding: 0 20px;
					li {
						margin-bottom: 80px;
						&:last-child {
							margin-bottom: 30px;
							div {
								&::after {
									display: none;
								}
							}
						}
						h5 {
							display: flex;
							align-items: flex-start;
						}
						div {
							text-align: center;
							position: relative;
							display: flex;
							justify-content: space-between;
							align-items: center;
							&::after {
								content: '';
								background: url('../img/arrow-bottom.svg') no-repeat center;
								width: 100%;
								height: 30px;
								display: block;
								position: absolute;
								bottom: -60px;
								right: 0;
							}
							img {
								width: 48%;
							}
							p {
								text-align: justify;
								padding: 0;
								width: 50%;
								small {
									display: block;
									line-height: 1.5em;
									margin-top: 12px;
									font-size: 11px;
								}
							}
						}
					}
				}
			}
			.slick_pc {
				width: 100%;
				max-width: 900px;
				margin: 0 auto 50px;
				li {
					padding: 0 15px;
					position: relative;
					h5 {
						display: flex;
						align-items: flex-start;
						text-align: left;
					}
				}
				.none {
					display: none;
				}
				img {
					text-align: center;
					margin: 0 auto;
					width: 220px;
					@media screen and (min-width:767px) {
						width: 220px;
					}
				}
				p {
					margin-top: 20px;
					text-align: justify;
					small {
						display: block;
						line-height: 1.5em;
						margin-top: 12px;
						font-size: 11px;
					}
				}
				.slick-dots {
					position: relative;
					li {
						padding: 0;
						margin: 0;
						&::after {
							display: none;
						}
						button {
							&::before {
								color: #98cfc2;
							}
						}
					}
				}
				.icon_p, .icon_n{
					position: absolute;
					top: 50%;
					transform: translate(0,-50%);
					height: 100%;
					width: 35px;
					padding: 3px;
					z-index: 1;
					transition: 0.3s;
					background: no-repeat;
					background-size: 100%;
					background-position: center;
					&:hover {
						cursor: pointer;
					}
				}
				.icon_p {
					left: -70px;
					background-image: url('../img/arrow-prev.svg');
					&:hover {
						left: -80px;
					}
				}
				.icon_n {
					right: -70px;
					background-image: url('../img/arrow-next.svg');
					&:hover {
						right: -80px;
					}
				}
			}
		}

		.bg {
			background-color: #f8f6f6;
			padding: 40px;
			max-width: 900px;
			width: 100%;
			margin: 20px auto 0;
			position: relative;
			@media screen and (max-width:767px) {
				padding: 40px 20px;
				margin: 40px auto 0;
				width: 93%;
				p {
					padding: 0;
				}
			}
			&::before
			{
			  z-index: -1;
			  position: absolute;
			  content: "";
			  bottom: 15px;
			  left: 10px;
			  width: 50%;
			  top: 80%;
			  max-width:300px;
			  background: #777;
			  -webkit-box-shadow: 0 15px 10px #777;
			  -moz-box-shadow: 0 15px 10px #777;
			  box-shadow: 0 15px 10px #777;
			  -webkit-transform: rotate(-3deg);
			  -moz-transform: rotate(-3deg);
			  -o-transform: rotate(-3deg);
			  -ms-transform: rotate(-3deg);
			  transform: rotate(-3deg);
			}
			h2 {
				margin: 0 auto 40px;
			}
			.p_ {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.con_1 {
				position: absolute;
				width: 12%;
				height: auto;
				top: 4vw;
				left: 8vw;
				transform: rotate(-14deg);
				@media screen and (max-width:767px) {
					width: 10%;
					transform: rotate(14deg);
					left: unset;
					top: 5vw;
					right: 9vw;
					z-index: 1;
				}
			}
			.con_2 {
				position: absolute;
				width: 25%;
				height: auto;
				bottom: 6vw;
				right: -3vw;
				transform: rotate(14deg);
				@media screen and (max-width:767px) {
					width: 20%;
					transform: rotate(14deg);
					bottom: unset;
					top: -6vw;
					right: -2vw;
					z-index: 1;
				}
			}
			.con_2_sp {
				width: 25%;
				height: auto;
				margin: 20px auto;
				display: block;
				transform: rotate(14deg);
				@media screen and (min-width:767px) {
					display: none;
				}
			}
		}

		// contact
		.contact {
			width: 100%;
			max-width: 600px;
			margin: 30px auto;
			input[type="text"],input[type="tel"],input[type="email"], textarea {
				width: 100%;
				border: 1px solid #938D8D;
				padding: 7px 10px;
				border-radius: 5px;
				background-color: #fff;
			}
			p {
				text-align: justify;
				margin-top: 15px;
			}
			p {
				&:first-child {
					margin-top: 0;
				}
			}
			.button {
				margin-top: 30px;
				position: relative;
				transition: ease-in-out .3s;
				&::after {
					position: absolute;
					display: inline-block;
					content: url('../img/arrow-next.svg');
					right: 25px;
					width: 20px;
					transition: ease-in-out .3s;
				}
				&:hover {
					//opacity: 0.6;
					&::after {
						right: 20px;
					}
				}			
			}

			// 必須項目に入力してください。
			.wpcf7-not-valid-tip {
				margin-bottom: 20px;
				&::before {
					margin-right: 10px;
					content: '▲';
					width: 7px;
					display: inline-block;
				}
			}

			.acceptance {
				display: block;
				text-align: center;
				margin-top: 20px;
				.wpcf7-list-item {
					margin: 0;
				}
			}
		}
	}
	.about_container {
		max-width: unset;
		padding: 0;
		font-family: 'About_Font';
		text-align: center;
		.h3-1, .h3-2 {
			margin: 40px 0;
			font-size: 17.5px;
			@media screen and (min-width:767px) {
				font-size: 20px;
				width: 100%;
				max-width: 900px;
				margin: 20px auto;
			}
			&::before {
				content: '1';
				color: #fff;
				font-size: 33px;
				text-align: center;
				display: inline-block;
				width: 50px;
				height: 50px;
				background-color: #C6A74F;
				border-radius: 50%;
				line-height: 1.4em;
				margin-right: 15px;
				@media screen and (max-width:767px) {
					font-size: 19px;
					width: 35px;
					height: 35px;
					line-height: 1.7em;
					margin-right: 10px;
				}
			}
		}
		.h3-2 {
			margin-top: 40px;
			&::before {
				content: '2';
			}
		}
		b {
			text-shadow: 0 0 0 $color;
			//-webkit-text-stroke: 1px $color;
		}
		p {
			font-size: 13px;
			text-align: center;
			@media screen and (max-width:767px) {
				font-size: 12px;
			}
		}

		.craftsmans_container {
			width: 100%;
			display: block;
			margin: 0;
			background-color: #f4f2f2e1;
			background-image: url('../img/shibo-washi-pattern-01.jpg');
			.h2_m {
				margin-top: 20px;
				margin-bottom: 100px;
				@media screen and (max-width:767px) {
					margin-bottom: 50px;
				}
			}
			.craftsmans {
				max-width: 900px;
				width: 100%;
				padding: 40px;
				background-color: #fff;
				margin: 0 auto;
				@media screen and (max-width:767px) {
					display: block;
					padding: 20px 0;
					width: 96%;
				}
				.craftsman {
					padding: 20px 20px;
					margin: -120px 0 10px 0;
					border-radius: 10px;
					font-size: 15px;
					display: flex;
					align-items: center;
					position: relative;
					z-index: 1;
					@media screen and (max-width:767px) {
						font-size: 12px;
						padding: 0;
						line-height: 1.5em;
						margin: 0 auto;
						width: 90%;
					}
					&:first-child {
						margin-top: 0;
					}
					&:nth-child(odd) {
						justify-content: flex-end;
					}
					span.illust, span.illust_r {
						width: 30%;
						margin-right: 8px;
						@media screen and (min-width:767px) {
							width: 25%;
						}
						img {
							width: 100%;
						}
					}
					span.illust_r {
						margin-right: 0;
					}
					div {
						width: 70%;
						line-height: 1.6em;
						text-align: justify;
						@media screen and (min-width:767px) {
							width: 55%;
						}
						span.name {
							font-weight: bold;
							border-left: 3px solid #C6A74F;
							padding-left: 7px;
							font-size: 18px;
							display: block;
							margin-bottom: 10px;
							@media screen and (max-width:767px) {
								font-size: 15px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width:767px) {
			h2 {
				font-size: 22px;
			}
			.h2_m {
				margin: 30px auto 60px;
				font-family: Menu_Font;
				line-height: 1.2em;
			}
			h3 {
				padding: 0 20px;
				margin-bottom: 30px;
				font-size: 18px;
				text-align: center;
			}
			p {
				padding: 0 20px;
			}
			.p_ {
				font-size: 13px;
				text-align: center;
				@media screen and (max-width:767px) {
					margin-bottom: 20px;
				}
			}
			.wp-block-image{
				height: 180px;
				overflow: hidden;
				img {
					height: auto;
				}
			}
			.img1_ {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 200px;
				margin-bottom: 20px;
				img {
					width: 100%;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);		
				}
			}
		}
		@media screen and (min-width:767px) {
			.h2_m {
				margin: 80px auto 40px;
				font-family: Menu_Font;
				line-height: 1.2em;
			}
			h3 {
				width: 100%;
				max-width: 900px;
				margin: 0 auto 30px;
				background-color: #fff;
				padding: 20px 0;
				@media screen and (max-width:900px) {
					padding: 0 20px;
				}	
			}
			p {
				width: 100%;
				max-width: 900px;
				margin: auto;
			}
			.p_ {
				margin-bottom: 40px;
				font-size: 15px;
			}
			.left_p {
				width: 100%;
				max-width: 750px;
				margin: 40px auto 80px;
				position: relative;
				p {
					padding: 20px 40px;
					position: relative;
					width: 50%;
					line-height: 2em;
					z-index: 1;
					margin-left: 0;
				}
				.p_ {
					@media screen and (max-width:900px) {
						padding-left: 20px;
					}
				}
				.img1_ {
					position: absolute;
					z-index: 0;
					overflow: hidden;
					width: 60%;
					height: 400px;
					top: -40px;
					right: 0;
					img {
						width: auto;
						height: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);		
					}
				}
			}
			.wp-block-image{
				width: 100%;
				max-width: 900px;
				margin: 0 auto;
				height: 350px;
				overflow: hidden;
				img {
					height: auto;
				}
			}
		}

		.last_right_p {
			margin-bottom: 60px;
			@media screen and (min-width:767px) {
				margin-top: 180px;
			}
		}
	}
	// menu
	.menu_container {
		max-width: unset;
		padding: 0;
		.category_button {
			display: flex;
			width: 100%;
			margin: 30px auto 60px;
			padding: 0 20px;
			text-align: center;
			justify-content: center;
			@media screen and (max-width:767px) {
				display: block;
			}
			a {
				padding: 3px 15px;
				border-left: 1px solid #ccc;
				&:last-child {
					border-right: 1px solid #ccc;
				}
				@media screen and (max-width:767px) {
					border-left: none;
					display: block;
					padding: 5px 0 10px;
					// margin-bottom: 10px;
					&::before {
						height: 1px;
						width: 30px;
						content: '';
						display: block;
						margin: 0 auto 15px;
						background-color: #C6A74F;
					}
					&:last-child {
						border-right: none;
						&::after {
							height: 1px;
							width: 30px;
							content: '';
							display: block;
							margin: 15px auto 0;
							background-color: #C6A74F;
						}
					}
				}
			}
		}
		.menu_cat_container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width:767px) {
				display: block;
			}
			.left {
				width: 48%;
				//height: auto;
				height: 450px;
				position: relative;
				overflow: hidden;
				// z-index: 2;
				@media screen and (max-width:767px) {
					height: auto;
					width: 93%;
					margin-left: auto;
				}
				img {
					width: 100%;
					@media screen and (min-width:767px) {
						width: 100%;
						height: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
				}
			}
			.right {
				width: 54%;
				padding: 40px;
				padding-left: 60px;
				margin-left: -40px;
				background-color: #F4F2F2;
				// z-index: 1;
				@media screen and (max-width:767px) {
					margin-left: 0;
					margin-top: -80px;
					padding: 80px 20px 20px;
					width: 100%;
				}
				.shop_only {
					display: inline-block;
					margin-top: 20px;
					padding: 15px 50px;
					background-color: #D5E2DF;
					text-align: center;
					border-radius: 30px;
					font-size: 16px;
					@media screen and (max-width:767px) {
						margin-left: -50px;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
				.logo {
					width: 65%;
					max-width: 400px;
					// max-height: 200px;
					margin: 0 auto;
					@media screen and (max-width:767px) {
						width: 85%;
					}
					img {
						width: 100%;
					}
				}
				.right_content {
					width: 100%;
					max-width: 500px;
					margin: 0 auto;
					padding: 20px 0;
					@media screen and (max-width:767px) {
						padding-top: 10px;
					}
					h5 {
						font-family: copperplate, serif;
						font-weight: 300;
						font-style: normal;
						font-size: clamp(24px, 3vw, 32px);
						height: auto;
						margin: 20px auto 10px;
						text-align: center;
						@media screen and (max-width:767px) {
							font-size: 28px;
							margin: 40px auto 30px;
						}
						ruby rt {
							font-size: 12px;
							margin-bottom: 5px;
							display: block;
							@media screen and (max-width:767px) {
								font-size: 11px;
							}
						}
					}
					h3 {
						font-size: 18px;
						text-align: right;
						margin: 20px 0 0;
						@media screen and (max-width:767px) {
							line-height: 1.3em;
							font-size: 15.3px;
						}
					}
					p {
						white-space: pre-wrap;
						small {
							font-size: 85%;
							line-height: 1em;
						}
					}
				}
			}
		}
		.menu_cat_container.reverse {
			@media screen and (max-width:767px) {
				display: flex;
				flex-direction: column-reverse;
			}
			.right {
				margin-left: 0;
				margin-right: -40px;
				padding-left: 40px;
				padding-right: 60px;
				@media screen and (max-width:767px) {
					margin-right: 0;
					padding: 80px 20px 20px;
				}
			}
			.left {
				@media screen and (max-width:767px) {
					width: 93%;
					margin-left: 0;
					margin-right: auto;
				}
			}
		}
		.menu_items {
			display: flex;
			justify-content: center;
			height: auto;
			margin: 40px auto 80px;
			@media screen and (max-width:1280px) {
				flex-wrap: wrap;
			}
			@media screen and (max-width:767px) {
				display: block;
				margin: 40px auto 80px;
			}
			.items {
				margin: 0 10px;
				max-width: 15%;
				@media screen and (max-width:1280px) {
					max-width: 20%;
					margin-top: 20px;
				}
				@media screen and (max-width:1200px) {
					max-width: 30%;
					margin-top: 20px;
				}
				@media screen and (max-width:767px) {
					display: flex;
					justify-content: space-between;
					margin: 0;
					margin-bottom: 40px;
					max-width: 100%;
				}
				&:nth-child(4n-1) {
					@media screen and (max-width:767px) {
						flex-direction: row-reverse;
					}
					@media screen and (min-width:1200px) {
						margin-top: 5%;
					}
					&:hover {
						@media screen and (min-width:1200px) {
							margin-top: 4.5%;
							padding-bottom: 0.5%;
						}
					}
				}
				&:hover {
					@media screen and (min-width:767px) {
						margin-top: -0.5%;
						padding-bottom: 0.5%;
					}
					cursor: pointer;
				}
				.menu_img {
					position: relative;
					z-index: 2;
					@media screen and (max-width:767px) {
						width: 45%;
						display: flex;
						align-items: center;
						padding: 10px 0;
						z-index: 0;
					}
					img {
						display: block;
						margin: 0 auto;
						width: 80%;
						height: auto;
						@media screen and (max-width:767px) {
							margin: auto;
							width: 150%;
							max-width: 300px;
							position: absolute;
							height: auto;
							top: 50%;
							left: 56%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
						}
					}
				}
				.menu_img.reverse {
					img {
						@media screen and (max-width:767px) {
							left: 45%;
						}
					}
				}
				.content {
					margin-top: -30px;
					padding: 20px;
					position: relative;
					font-size: 12px;
					line-height: 1.8em;
					@media screen and (max-width:767px) {
						margin-top: 0;
						width: 55%;
						font-size: 11px;
						line-height: 1.6em;
					}
					span {
						position: absolute;
						top: 1vw;
						left: -6px;
						background-color: #F4F2F2;
						font-size: 12px;
						padding: 5px 20px;
						display: inline-block;
						@media screen and (max-width:767px) {
							top: 0;
							left: 0;
						}
					}
					span.next {
						background-color: #C6A74F;
						top: unset;
						bottom: -10px;
						left: unset;
						right: 0;
						border-bottom-right-radius: 0;
						width: 30px;
						height: 30px;
						padding: 3px;
						text-align: center;
						font-size: 18px;
						line-height: 1.3em;
						img {
							width: 70%;
							position: absolute;
							top: 9px;
							left: 5px;
						}
					}
					h5 {
						font-size: clamp(14px, 1vw, 18px);
						margin-top: 30px;
						margin-bottom: 15px;
						height: auto;
						position: relative;
						@media screen and (max-width:767px) {
							font-size: 14px;
							margin-top: 15px;
						}
						&::after {
							content: '';
							background-image: url('../img/h2_under.png');
							position: absolute;
							bottom: -13px;
							left: -12px;
							right: 0;
							z-index: -1;
							display: block;
							width: 100%;
							max-width: 160px;
							height: 25px;
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
						}
					}
					p {
						font-size: 12px;
						line-height: 1.8em;
						@media screen and (max-width:767px) {
							font-size: 11px;
							line-height: 1.6em;
						}
					}
				}
			}
		}
	}
	.store_container {
		max-width: unset;
		padding: 0;
		.store_p {
			max-width: 900px;
			width: 100%;
			margin: 30px auto;
			display: block;
			@media screen and (max-width:767px) {
				padding: 0 20px;
			}
		}
		.slick_store {
			margin-top: 50px;
			margin-bottom: -50px;
			@media screen and (max-width:767px) {
				margin-top: 0px;
				margin-bottom: 30px;
			}
			div {
				height: auto;
				margin: 0 2px;
				@media screen and (max-width:767px) {
					margin: 0 0.5px;
				}
				.img {
					width: 100%;
					height: 27vw;
					overflow: hidden;
					position: relative;
					@media screen and (max-width:767px) {
						height: 55vw;
					}
					img {
						width: 100%;
						height: auto;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
				}
				p {
					margin: 0 auto 40px;
					text-align: center;
					display: block;
					max-width: 600px;
					width: 100%;
					font-size: 13px;
					@media screen and (max-width:767px) {
						text-align: justify;
					}
				}
			}
			.slick-dots {
				bottom: 60px;
			}
		}
	}
}

div.category {
	background-color: #f4f2f2e1;
	background-image: url('../img/shibo-washi-pattern-01.jpg');
}

div.category.blog_detail {
	h2, .h2_subtext, .date, p {
		font-family: About_Font, serif;
	}
	.h2_subtext {
		font-size: 18px;
		margin-bottom: 0px;
	}
	.date, p {
		font-size: 16px;
	}
}






////////////////////////////////////////////////////////////////
//
//　　　　　　トップ
//
////////////////////////////////////////////////////////////////


section.eyecatch {
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.eyecatch_content {
		background-position:center center;
		background-size: cover;
		display: block;
		width: 100%;
		height: 100%;
		padding: 50px;
		padding-bottom: 20px;
		padding-top: 30px;
		margin: auto;
		position: relative;
		top: 0;
		background-color:rgba(0,0,0,0.1) !important;
		background-blend-mode:lighten;
		.copy {
			position: relative;
			// right: 3vw;
			display: flex;
			flex-direction: row-reverse;
			margin: 20vh 50px 0 auto;
			color: #fff;
			text-shadow: 0 0 5px #3B4043;
			@media screen and (max-width:767px) {
				display: block;
				margin: auto;
				width: 100%;
			}
			img {
				display: block;
				margin: 45px auto;
				max-width: 80px;
				width: 35%;
				@media screen and (max-width:767px) {
					margin: 24vh auto 0;
					max-width: 300px;
					width: 100%;
					opacity: 0.45;
				}
			}
			.main_copy {
				@media screen and (max-width:767px) {
					position: absolute;
					top: 65%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					-webkit-transform: translateY(-50%) translateX(-50%);
					margin: auto;
					height: 100vh;
					display: none;
				}
				img {
					width: 100%;
					max-width: 150px;
					opacity: 1 !important;
					@media screen and (min-width:767px) {
						max-width: 130px;
						margin-top: 0;
					}
				}
			}
			.sub_copy {
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;	
				font-size: 13px;
				margin-right: 30px;
				line-height: 2.8em;
			}
		}
	}
}

.main_copy_sp {
	display: none;
	@media screen and (max-width:767px) {
		display: block;
		width: 20%;
		height: auto;
		margin: 30px auto 10px;
	}
	img {
		width: 100%;
	}
}
.sub_copy_sp.sp {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.6em;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 50px;
	color: $color;
	text-align: center;
}

section.tarte {
	h2 {
		.colorer {
			font-family: Colorer_Font;
			display: inline-block;
			max-width: 170px;
			width: 13vw;
			position: relative;
			top: -10px;
			@media screen and (max-width:767px) {
				width: 130px;
			}
		}
	}
}

section.tarte .layout {
	margin-top: 0;
	@media screen and (max-width:767px) {
		margin-top: 40px;
	}
	.layout_left {
		.layout_right {
			height: 95%;
			background-image: url('../img/top-2.jpg');
			background-position:center center;
			background-size: cover;
		}
	}
}

section.farmer .layout {
	@media screen and (max-width:767px) {
		margin-top: 40px;
	}
	.layout_right_sp {
		width: 100%;
		height: 90vw;
		.farmer_img1 {
			position: absolute;
			width: 70%;
			min-width: 260px;
			height: auto;
			top: 0;
			left: 0;
			transform: unset;
			-webkit-transform: unset;
			z-index: 1;
		}
		.farmer_img2 {
			position: absolute;
			width: 53%;
			min-width: 200px;
			height: auto;
			top: unset;
			bottom: 12vw;
			left: unset;
			right: 0;
			transform: unset;
			-webkit-transform: unset;
		}
		.farmer_img3 {
			position: absolute;
			width: 30%;
			min-width: 100px;
			height: auto;
			top: unset;
			bottom: 0vw;
			left: 13vw;
			right: auto;
			transform: unset;
			-webkit-transform: unset;
		}
	}
	.layout_left {
		@media screen and (max-width:767px) {
			padding: 20px 0 10px;
			height: auto;
			width: 90%;
			margin: -20px auto 0;
			z-index: 0;
		}
		.layout_right {
			height: 400px;
			overflow: unset;
			.farmer_img1 {
				position: absolute;
				width: 60%;
				min-width: 321px;
				height: auto;
				top: 0;
				left: 0;
				transform: unset;
				-webkit-transform: unset;
				z-index: 0;
			}
			.farmer_img2 {
				position: absolute;
				width: 50%;
				min-width: 260px;
				height: auto;
				top: unset;
				bottom: -33px;
				left: unset;
				right: 0;
				transform: unset;
				-webkit-transform: unset;
				z-index: -1;
			}
			.farmer_img3{
				position: absolute;
				width: 33%;
				min-width: 160px;
				max-width: 200px;
				height: auto;
				top: unset;
				bottom: -7vw;
				left: 7vw;
				right: auto;
				transform: unset;
				-webkit-transform: unset;
				z-index: 1;
			}
		}
	}
	.layout_right_sp {
		margin-right: 0;
		margin-left: auto;
	}
}

section.confiture {
	.layout {
		margin-bottom: 0;
		margin-top: 40px;
		.layout_right {
			height: 95%;
			.farmer_img1 {
				position: absolute;
				width: 71%;
				min-width: 321px;
				max-width: 460px;
				height: auto;
				top: 0;
				left: 0;
				transform: unset;
				-webkit-transform: unset;
				z-index: 0;
			}
			.farmer_img2 {
				position: absolute;
				width: 74%;
				min-width: 325px;
				max-width: 530px;
				height: auto;
				top: 29%;
				left: unset;
				right: 0;
				transform: unset;
				-webkit-transform: unset;
				z-index: -1;
			}
			.farmer_img3{
				position: absolute;
				width: 77%;
				min-width: 160px;
				max-width: 400px;
				height: auto;
				top: unset;
				bottom: 0vw;
				left: 4vw;
				right: auto;
				transform: unset;
				-webkit-transform: unset;
				z-index: 1;
			}
		}
		.layout_right_sp {
			width: 100%;
			height: 80vw;
			.farmer_img1 {
				position: absolute;
				width: 70%;
				min-width: 260px;
				height: auto;
				top: 0;
				left: 0;
				transform: unset;
				-webkit-transform: unset;
				z-index: 1;
			}
			.farmer_img2 {
				position: absolute;
				width: 53%;
				min-width: 200px;
				height: auto;
				top: unset;
				bottom: 7vw;
				left: unset;
				right: 0;
				transform: unset;
				-webkit-transform: unset;
			}
			.farmer_img3 {
				position: absolute;
				width: 38%;
				min-width: 100px;
				height: auto;
				top: unset;
				bottom: 0vw;
				left: 7vw;
				right: auto;
				transform: unset;
				-webkit-transform: unset;
			}
		}
	}
}

section.instagram {
	padding: 50px 0;
	#sb_instagram {
		max-width: 600px;
		margin: 50px auto;
		@media screen and (max-width:767px) {
			margin-bottom: 0;
		}
		.sbi_header_link {
			@media screen and (max-width:767px) {
				margin-left: 10px;
			}
		}
		.sbi_load_btn {
			margin-top: 30px !important;
			display: block !important;
			@media screen and (max-width:767px) {
				width: 50%;
			}
		}
		.sbi_follow_btn {
			margin-left: 0;
			a {
				margin-top: 30px;
			}
		}
	}
}

section.news,
section.blog {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 80px;
	@media screen and (max-width:767px) {
		padding: 0 20px;
	}
}

.store_p {
	margin: 0 auto;
	padding: 0 20px;
	display: block;
	width: 100%;
	max-width: 900px;
	@media screen and (max-width:767px) {
		padding: 0;
		margin: 0 auto 10px;
		font-size: 13px;
	}
	p {
		display: block;
		margin-bottom: 20px;
	}
}


////////////////////////////////////////////////////////////////
//
//　　　　　　footer
//
////////////////////////////////////////////////////////////////

section#information {
	.layout_left {
		height: auto;
		font-size: 14px;
		background-color: #f4f2f2e1;
		.layout_right {
			height: 560px;
			iframe {
				width: 100%;
				height: 600px;
				margin-top: -55px;
				filter: contrast(123%) grayscale(38%);
				div {
					width: 40px;
					img {
						width: 100%;
					}
				}
			}
		}
	}
	@media screen and (max-width:767px) {
		margin: 0;
		.layout_left {
			padding: 40px 0 0;
			width: 100%;
			height: auto;
			.left_content {
				padding: 0 20px;
				margin-left: unset;
				width: 100%;
			}
			.layout_right {
				width: 100%;
				position: unset;
				margin-top: 50px;
				height: auto;
				iframe {
					width: 100%;
					height: 300px;
				}
			}
		}
	}
}

footer {
	background-color: #f4f2f2e1;
	padding: 40px 0;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 13px;
	@media screen and (max-width:767px) {
		font-size: 12px;
	}
	ul {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 1200px;
		@media screen and (max-width:767px) {
			display: none;
		}
		li {
			margin: 0 10px;
			a {
				display: inline-block;
				width: 100%;
				padding: 10px;
				color: #979c9e;
			}
		}
	}
	.footer_content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
		@media screen and (max-width:767px) {
			padding: 10px 0 40px;
			display: block;
		}
		.footer_content_store {
			padding: 0 30px;
			border-right: 1px solid #868080;
			@media screen and (max-width:767px) {
				padding-right: unset;
				padding: 0 0 30px;
				width: 90%;
				margin: 0 auto;
				display: block;
				border-right: none;
				border-bottom: 1px solid #868080;
			}
			.logo {
				width: 70px;
				display: inline-block;
				margin-bottom: 5px;
			}
			.logo_2 {
				margin-top: 20px;
			}
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				&:first-child {
					margin-bottom: 20px;
				}
				span {
					display: block;
					padding: 5px 10px;
					background-color: rgba(255, 255, 255, 0.8);
					text-align:center; color:#9e9798;
					border-radius: 5px;
					margin-right: 5px;
					width: 60px;
				}
				a {
					margin-left: 10px;
					img {
						width: 22px;
					}
				}
			}
		}
		.footer_content_ltd {
			text-align: left;
			padding-left: 30px;
			// border-left: 1px solid #868080;
			@media screen and (max-width:767px) {
				margin: 0 auto;
				width: 80%;
				padding-top: 30px;
				padding-left: unset;
				border-left: unset;
			}
			p {
				display: block;
				margin-bottom: 15px;
				&:nth-child(2) {
					@media screen and (max-width:767px) {
						text-align: center;
					}
				}
				&:nth-child(3) {
					margin-bottom: 5px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				a {
					img {
						max-width: 200px;
					}
				}
			}
		}
	}
}

.sp {
	@media screen and (min-width:767px) {
		display: none !important;
	}
}
.pc {
	@media screen and (max-width:767px) {
		display: none !important;
	}
}

.none {
	display: none;
}


// reCAPTCHAマーク非表示
.grecaptcha-badge {
	visibility: hidden; 
}


/* ローディング画面 */
#loading {
	width: 100vw;
	height: 100vh;
	transition: all 2s;
	background-color: #EAE9E4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	img {
		display: block;
		width: 100px;
		margin: 35vh auto 20px;
	}
}

.loaded {
	opacity: 0;
	visibility: hidden;
}


// トップに戻る
.page-top {
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
  
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	// box-shadow: 0 0 5px #fff;
	border-radius: 50%;
	background-color: #CCC8C2;
	display: flex;
	align-items: center;
	justify-content: center;
	// @media screen and (max-width:767px) {
	// 	right: 20px;
	// 	bottom: 90px;
	// }
}
  
.page-top::before {
	content: "";
	width: 12px;
	height: 12px;
	margin-bottom: -6px;
	border-top: solid 3px #fff;
	border-right: solid 3px #fff;
	transform: rotate(-45deg);
}

.brandsite_off {
	display: none!important;
}